// Makes Content be 100%

html
    height 100%

    background-color #003F39
    background-image url('../images/Logo.png')
    background-position center
    background-repeat no-repeat
    background-size auto 60%
