max_width = 400px
spacing = 10px

.container
    max-width max_width
    width 100%
    padding spacing

.description
    margin-bottom spacing

.name
    margin-bottom spacing

.links
    display flex
    justify-content space-evenly
