.container
    max-width 400px
    width 100%

.name
    margin-bottom 0px

.specifics
    display flex
    flex-direction row

.icon
    flex 1

.links
    align-items flex-start
    display flex
    flex-direction column
    list-style-type none
    padding-left 5px
