@require "./colors"

border_radius = 10px

.header
    display flex
    flex-direction column
    background-color secondary
    border-radius border_radius

    .icons
        display flex
        flex-direction row
        align-items center
        justify-content center
