primary = #003F39
secondary = #94ECBE

.header
    display flex
    flex-direction column
    background-color secondary
    border-radius 10px

    .icons
        display flex
        flex-direction row
        align-items center
        justify-content center
