icon_size = 36px
logo_size = icon_size * 2
padding = (icon_size / 6)px

icon-dimensions(size)
    margin 0px
    max-height size 
    max-width size 
    padding padding

.icon
    icon-dimensions(icon_size)

.logo
    icon-dimensions(logo_size)
