icon_size = 24px
logo_size = icon_size * 3

icon-dimensions(size, padding_factor)
    max-height size 
    max-width size 
    padding (size / padding_factor)px

.icon
    icon-dimensions(icon_size, 4)

.logo
    icon-dimensions(logo_size, 8)
