.container
    align-items center
    background-color #003F39
    display flex
    flex-direction column
    height 100%
    padding 10px

    border-radius = 10px

    .header
        display: flex;
        align-items: center;
        background-color #94ECBE
        border-radius border-radius

        icon_size = 24px

        .icon
            max-height icon_size
            max-width icon_size
            padding (icon_size / 4)px

        logo_size = icon_size * 2
        
        .logo
            max-height logo_size
            max-width logo_size
            padding (logo_size / 4)px

    .content
        background-color #FFCDB5
        border-radius: border-radius
        flex 1
        padding 10px
        margin-top 10px
        margin-bottom 10px
        text-align center

    .footer
        background-color #90EE90
        border-radius border-radius border-radius 0px 0px
        padding 10px;
