@require "./colors"

border_radius = 5px
border_width = 1px
max_width = 840px
spacing = 10px

.container
    align-items center
    background-color primary
    display flex
    flex-direction column
    min-height 100%
    padding-left spacing
    padding-right spacing
        
    .content
        align-items center
        border border_width solid white
        border-radius border_radius
        flex 1
        display flex
        flex-direction column
        margin spacing
        max-width max_width
        padding spacing
        text-align center
        color white

    .footer
        background-color secondary
        border-radius border_radius border_radius 0px 0px
        padding 0px spacing 0px spacing
