spacing = 10px

.header
    text-align center
    margin spacing

.form
    display flex
    margin 0px 0px spacing 0px

.error
    color red
    text-align center

.result
    text-align center

border_radius = 10px
height = 40px

.input 
    flex-grow 1
    border none
    border-radius border_radius 0px 0px border_radius
    height height
    padding 0px 0px 0px 5px

.button
    background-color #1E5878
    border none
    color white
    border-radius 0px border_radius border_radius 0px
    height height
