@require "./colors"

border_width = 2px

.links
    display flex
    border-color primary
    border-style solid 
    border-width border_width 0px 0px 0px
    justify-content space-evenly
    
    a
        flex 1
        text-align center

    a:not(:last-child) 
        border-color primary
        border-style solid 
        border-width 0px border_width 0px 0px

    a:hover
        background-color tertiary

        p
            color secondary

    margin = 2px

    p
        color primary
        margin-bottom margin
        margin-top margin
