primary = #003F39

.links
    display flex
    border-color primary
    border-style solid 
    border-width 1px 0px 0px 0px
    justify-content space-evenly

    p
        color primary
        margin-bottom 2px
        margin-top 2px
